.all-cases-view {
    position: relative;

    >header {
        position: absolute;
        left    : 320px;
        top     : 160px;
        display : flex;
        width   : 600px;

        >section {
            width: 33.33%;

            >h4 {
                width: 160px;
            }

            >input,
            >select,
            >.page {
                margin-top      : 16px;
                background-color: rgba(252, 252, 252, 0.7);
                border          : none;
                width           : 160px;
                font-size       : 16px;
                padding         : 8px;
                font-family     : "1942report";
                text-transform  : uppercase;
            }

            >.page {
                .float-wrapper();
                text-transform: none;
                text-align    : center;

                >.button-container {
                    margin-top: 8px;
                    .float-wrapper();

                    >.prev-button {
                        float: left;
                    }

                    >.next-button {
                        float: right;
                    }

                    >.prev-button,
                    >.next-button {
                        background-color: rgba(142, 142, 142, 0.7);
                        padding         : 2px 8px;
                        text-transform  : uppercase;
                    }
                }
            }
        }
    }

    >.properties {
        position: absolute;
        left    : 90px;
        top     : 300px;
        width   : 210px;

        >h4 {
            margin-bottom: 15px;
        }

        >select {
            font-family: MomsTypewriter;
            background : none;
            border     : none;
            width      : 100%;
            padding    : 10px;
        }
    }

    >.case-list {
        position  : absolute;
        left      : 320px;
        top       : 300px;
        width     : 620px;
        height    : 870px;
        overflow-y: auto;
        .float-wrapper();

        >.case {
            position        : relative;
            margin-bottom   : 10px;
            float           : left;
            width           : 200px;
            height          : 200px;
            background-image: url("/images/case.png");
            background-size : contain;
            font-family     : NanumMiRaeNaMu;
            font-size       : 13px;
            line-height     : 1.2em;

            >h5 {
                position      : absolute;
                left          : 0;
                top           : 18px;
                width         : 100%;
                font-size     : 14px;
                font-family   : "1942report";
                text-transform: uppercase;
                transform     : rotate(15deg);
                text-align    : center;
                word-break    : keep-all;
                overflow-x    : hidden;
            }

            >p {
                position: absolute;
                left    : 10px;
                top     : 24px;
                width   : 180px;
                height  : 176px;
                padding : 2px 5px;
                overflow: auto;
            }
        }
    }
}