@font-face {
    font-family: 'MomsTypewriter';
    src: url('MomsTypewriter.woff2') format('woff2'), url('MomsTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '1942report';
    src: url('1942report.woff2') format('woff2'), url('1942report.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'handwrited';
    src: url('handwrited.woff2') format('woff2'), url('handwrited.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMiRaeNaMu';
    src: url('NanumMiRaeNaMu.woff2') format('woff2'), url('NanumMiRaeNaMu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('Cafe24Oneprettynight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}