/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  background-color: #000000;
  font-family: "1942report";
}
.section-title {
  background-color: rgba(227, 218, 0, 0.58);
  text-transform: uppercase;
  transform: rotate(-4deg);
  font-size: 28px;
  text-align: center;
}
.layout {
  margin: auto;
  width: 1024px;
  position: relative;
}
.layout > header {
  font-family: handwrited;
}
.layout > header > h1 {
  position: absolute;
  top: 72px;
  left: 80px;
  font-size: 32px;
}
.layout > header > h2 {
  position: absolute;
  top: 72px;
  right: 80px;
  font-size: 32px;
}
.layout > header > .menu {
  position: absolute;
  top: 161.6px;
  left: 80px;
  font-size: 28px;
}
.layout > header > .menu > a {
  display: block;
  margin-bottom: 46.4px;
}
.layout > main {
  width: 1024px;
  height: 1290.5px;
  background-image: url(./images/background.jpg);
  background-size: contain;
}
.layout > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}
.layout > footer > a {
  margin-right: 32px;
}
.layout > footer > a:last-of-type {
  margin-right: 0;
}
.all-cases-view {
  position: relative;
}
.all-cases-view > header {
  position: absolute;
  left: 320px;
  top: 160px;
  display: flex;
  width: 600px;
}
.all-cases-view > header > section {
  width: 33.33%;
}
.all-cases-view > header > section > h4 {
  width: 160px;
}
.all-cases-view > header > section > input,
.all-cases-view > header > section > select,
.all-cases-view > header > section > .page {
  margin-top: 16px;
  background-color: rgba(252, 252, 252, 0.7);
  border: none;
  width: 160px;
  font-size: 16px;
  padding: 8px;
  font-family: "1942report";
  text-transform: uppercase;
}
.all-cases-view > header > section > .page {
  text-transform: none;
  text-align: center;
}
.all-cases-view > header > section > .page:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.all-cases-view > header > section > .page > .button-container {
  margin-top: 8px;
}
.all-cases-view > header > section > .page > .button-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.all-cases-view > header > section > .page > .button-container > .prev-button {
  float: left;
}
.all-cases-view > header > section > .page > .button-container > .next-button {
  float: right;
}
.all-cases-view > header > section > .page > .button-container > .prev-button,
.all-cases-view > header > section > .page > .button-container > .next-button {
  background-color: rgba(142, 142, 142, 0.7);
  padding: 2px 8px;
  text-transform: uppercase;
}
.all-cases-view > .properties {
  position: absolute;
  left: 90px;
  top: 300px;
  width: 210px;
}
.all-cases-view > .properties > h4 {
  margin-bottom: 15px;
}
.all-cases-view > .properties > select {
  font-family: MomsTypewriter;
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
}
.all-cases-view > .case-list {
  position: absolute;
  left: 320px;
  top: 300px;
  width: 620px;
  height: 870px;
  overflow-y: auto;
}
.all-cases-view > .case-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.all-cases-view > .case-list > .case {
  position: relative;
  margin-bottom: 10px;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url("/images/case.png");
  background-size: contain;
  font-family: NanumMiRaeNaMu;
  font-size: 13px;
  line-height: 1.2em;
}
.all-cases-view > .case-list > .case > h5 {
  position: absolute;
  left: 0;
  top: 18px;
  width: 100%;
  font-size: 14px;
  font-family: "1942report";
  text-transform: uppercase;
  transform: rotate(15deg);
  text-align: center;
  word-break: keep-all;
  overflow-x: hidden;
}
.all-cases-view > .case-list > .case > p {
  position: absolute;
  left: 10px;
  top: 24px;
  width: 180px;
  height: 176px;
  padding: 2px 5px;
  overflow: auto;
}
.my-cases-view {
  position: relative;
}
.my-cases-view > header {
  position: absolute;
  left: 320px;
  top: 160px;
}
.my-cases-view > header > section > h4 {
  width: 280px;
}
.my-cases-view > header > section > .wallet-address {
  margin-top: 16px;
  background-color: rgba(252, 252, 252, 0.7);
  border: none;
  font-size: 16px;
  padding: 8px;
  font-family: "1942report";
  text-transform: uppercase;
}
.my-cases-view > .case-container {
  position: absolute;
  left: 90px;
  top: 320px;
  width: 210px;
}
.my-cases-view > .case-container > h4 {
  font-family: MomsTypewriter;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.my-cases-view > .case-container > .case-list {
  background-color: rgba(255, 255, 255, 0.37);
  height: 820px;
  padding: 5px 0;
  overflow-y: auto;
}
.my-cases-view > .case-container > .case-list > .case {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.my-cases-view > main {
  position: absolute;
  left: 320px;
  top: 300px;
  width: 620px;
  height: 870px;
  display: flex;
}
.my-cases-view > main > .case-container {
  width: 300px;
}
.my-cases-view > main > .case-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.my-cases-view > main > .case-container > .case {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url("/images/case.png");
  background-size: contain;
  font-family: NanumMiRaeNaMu;
  font-size: 19.5px;
  line-height: 1.2em;
}
.my-cases-view > main > .case-container > .case > h5 {
  position: absolute;
  left: 0;
  top: 27px;
  width: 100%;
  font-size: 21px;
  font-family: "1942report";
  text-transform: uppercase;
  transform: rotate(15deg);
  text-align: center;
  word-break: keep-all;
  overflow-x: hidden;
}
.my-cases-view > main > .case-container > .case > p {
  position: absolute;
  left: 15px;
  top: 36px;
  width: 270px;
  height: 264px;
  padding: 3px 7.5px;
  overflow: auto;
}
.my-cases-view > main > .case-container > .score {
  display: flex;
  text-transform: uppercase;
  width: 270px;
  margin: auto;
  margin-top: 15px;
  font-family: MomsTypewriter;
}
.my-cases-view > main > .case-container > .score > h5 {
  background-color: rgba(158, 162, 178, 0.49);
  font-size: 16px;
  padding: 5px;
}
.my-cases-view > main > .case-container > .score > span {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  padding: 5px;
}
.my-cases-view > main > .case-container > .opensea-button {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  background-color: rgba(158, 162, 178, 0.49);
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
  font-family: MomsTypewriter;
}
.my-cases-view > main > .properties {
  flex-grow: 1;
  font-family: MomsTypewriter;
  padding-left: 10px;
  padding-top: 36px;
}
.my-cases-view > main > .properties > .property {
  line-height: 1.4em;
  margin-bottom: 10px;
}

